{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Current Price</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
          {% for row in stocks %}
            <tr>
              <th scope="row">{{ row["symbol"] }}</th>
              <td>{{ row["num_shares"] }}</td>
              <td>{{ row["current_price"] }}</td>
              <td>{{ row["total"] }}</td>
            </tr>
          {% endfor %}
            <tr>
              <th scope="row">CASH</th>
              <td></td>
              <td></td>
              <td>{{ cash }}</td>
            </tr>
            <tr>
              <td></th>
              <td></td>
              <td></td>
              <th scope="row">{{ total }}</td>
            </tr>
      </tbody>
    </table>
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="addCash" placeholder="0.00" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
{% endblock %}